name: Simple CI/CD

on:
 push:
  branches:
   - main

 workflow_dispatch:

jobs:

 build:

  runs-on: ubuntu-latest

  steps:

   - name: Checkout code
     uses: actions/checkout@v4

   - name: Success Message
     run: echo "CI/CD Pipeline executed successfully"
