name: Simple CI/CD

on:
 push:
  branches: [ main ]

jobs:

 build:

  runs-on: ubuntu-latest

  steps:

   - name: Checkout Code
     uses: actions/checkout@v4

   - name: Print Success Message
     run: echo "CI/CD Pipeline executed successfully"
